---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>astro-bunny-adapter</title>
  </head>
  <body>
    <h1>astro-bunny-adapter</h1>
    <p>An Astro adapter for <a href="https://bunny.net">bunny.net</a> Edge Scripting.</p>
  </body>
</html>
